{% block body %}

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            {{ form_start(quackForm, {'action': path('quack_create'), 'method': 'POST'}) }}
            <div class="control">
                <div class="field ">
                    <div class="file has-name  is-one-quarter">
                        <label class="file-label">
                            {{ form_widget(quackForm.pictureFile) }}
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Upload picture
                                </span>
                             </span>
                        </label>
                    </div>
                </div>
                {{ form_widget(quackForm.content) }}
                <div>
                    {{ form_widget(quackForm.save) }}
                </div>

            </div>
            {{ form_end(quackForm) }}
        </div>
    </div>

{% endblock %}